*{
    padding: 0;
    margin: 0;
    font-family: 'Lato';
}

header{
    background-color: #0077b6;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #f9f7f3;
}

p{
    max-width: 30%;
}

img{
    width: 30rem;
}

.first{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6rem;
}

body{
    background-color: #f2e8cf;
}